page-reimbursement-claims {
    .upload
    {
        float:right;
        margin-top:4%;
        margin-right:5%;
        font-size: 4.5vh;
    }
    .download
    {
        float:right;
        margin-top:16.8%;
        font-size:4.5vh;
        margin-right: -8%
    }
    .msg{
        color:#2d3b51;
        position: relative;
        vertical-align: middle;
        margin-top: 50%;
        font-weight: bold;
        text-align:center;
    }
}
