page-leave-balance {
    .header {
        border-top: 2px solid darkcyan;
        box-shadow: 2px 2px lightgrey;
    }
    .msg{
        color:#2d3b51;
        position: relative;
        vertical-align: middle;
        margin-top: 50%;
        font-weight: bold;
        text-align:center;
      }
}
