<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>On Duty Cancel Approval</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h4 class="msg"
    *ngIf="this.cancel_list == '' || this.cancel_list == 'undefined' || this.cancel_list == undefined ">
    {{loading_msg}}
  </h4>

  <ion-list>
    <ion-item *ngFor="let c of cancel_list;">
      <ion-avatar item-start>
        <img src="{{c.employee_image}}">
      </ion-avatar>
      
      <!-- <b style="color:darkgoldenrod;">{{c.od_employee_name}}</b> -->
      <ion-label style="margin-left:5%">
        <p style="color:maroon;"><b style="color:darkgoldenrod;">{{c.od_employee_name}}</b></p>
        <p style="color:maroon;"><b>{{c.travel_type}}</b></p>
        <p style="color:darkslategray;"><b>{{c.approved_status}}</b></p>
      </ion-label>
      <h2><b (click)="approveOnDutyCancellation(c)"
        style="float:right;margin-top:8%;margin-right:2%;color:navy;">Approve</b>
    </h2>
    </ion-item>
  </ion-list>

</ion-content>