// page-monthly-payslip {
  .odd{
      background-color: #f9f9f9;
  }
  .even{
    background-color: white;
  }
  .msg{
    color:#2d3b51;
    position: relative;
    vertical-align: middle;
    margin-top: 50%;
    font-weight: bold;
    text-align:center;
  }
  .heading{
    color:navy;
    font-weight:bolder;
    font-size: 0.9rem;
  }
 
// }

