// page-forgot-password {
    .class-icon{
        float:right;
        margin: 2% 2% 0 0;
        font-size:4.5vh;
    }
    // background-color: rgba(0, 0, 0, 0.5);
    ion-content.content{
        top: 20%;
        left: 10%;
        width: 80%;
        height: 50%;
        border-radius: 10px;
        .scroll-content {
            border-radius: 20px;
        }
    }
// }
