<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>IT Declarations Proofs</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-item no-lines style="padding-top:4%;padding-bottom:2%;">
    <ion-label style="color:#0086d0;padding-left:0px;"><b>Please Select Financial Year</b></ion-label>
    <ion-select [(ngModel)]="fin_year" (ionChange)="getItDeclarationProofs()">
      <ion-select-option *ngFor="let year of yearList" [value]="year.fin_int_code">{{year.financial_year}}</ion-select-option>
    </ion-select>
  </ion-item>

  <h4 class="msg" *ngIf="this.it_data == '' || this.it_data == 'undefined' || this.it_data == undefined ">
    {{loading_msg}}
  </h4>

  <ion-card *ngFor="let it of it_data;let i = index;" id="it.group_name">

    <h4 style="color:#0086d0;padding:5px 5px 5px 7px;" (click)="toggleGroup(it.group_name)"
      [ngClass]="{active: isGroupShown(it.group_name)}">
      <b>{{it.group_name}}</b>
      <ion-icon color="primary" class="ion-float-right" [name]="isGroupShown(it.group_name) ? 'caret-down-outline' : 'caret-forward-outline'"
        style="padding-right:2%;"></ion-icon>
    </h4>

    <div *ngIf="isGroupShown(it.group_name)">
      <div *ngFor="let ele of it.details;" style="padding-left:4%;padding-right:4%;">
        <ion-row>
          <label class="tooltip"><b class="ion-text-wrap">{{ele.head}}</b><span
              class="tooltiptext tooltip-bottom">{{ele.online_tool_tip}}</span></label>
        </ion-row>

        <!-- if upload is not required -->
        <ion-row>
          <ion-col *ngIf="ele.upload_required == 'No'">
            <input type="text" id="{{ele.id}}" value="{{ele.amount}}" style="margin-bottom:5%;background: white;" readonly />
          </ion-col>
        </ion-row>

        <!-- if upload is required -->
        <ion-row>
          <ion-col>
            <input type="text" id="{{ele.id}}" value="{{ele.amount}}" style="margin-bottom:5%;background: white;" />
          </ion-col>
          <ion-col size="2">
            <ion-icon *ngIf="ele.attachments != ''" name="download-outline" class="download-icon" icon-start
              (click)="viewItAttachments(ele.attachments)"></ion-icon>
          </ion-col>
          <ion-col size="2">
            <ion-icon *ngIf="ele.upload_required == 'Yes'" name="cloud-upload-sharp" icon-start class="upload-icon"
              (click)="uploadProofs(ele.internal_code,ele.head)"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
    </div>

  </ion-card>
</ion-content>