// page-home {
//         .notif{
//                 position:absolute;
//                 right:0px;
//                 top:0px;
//                 color:white;
//                 width:30px;
//                 height:30px;
                // background-color: color($colors,primary,base);
//                 margin:0px;
//                 padding-left:3px;
//                 padding-top:3px;
//                 border-bottom-left-radius: 50px;
//                 font-size:2vh;
//         }
        .iconSize{
                font-size:5.5vh; 
        } 
        .card_header{
				padding:5px 5px 2px 6px;
                background-color:grey;
                color:white;
                font-weight:bolder;
        }
        .header {
                border-top: 2px solid darkcyan;
                box-shadow: 2px 2px lightgrey;
        }
        .leave {
                color:darkcyan; 
                padding-left:2%;
                font-weight:bolder;
                float: left;
        }
// }


