<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>CompOff Request</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>

  <h4 class="msg"
    *ngIf="this.applicant_list == '' || this.applicant_list == 'undefined' || this.applicant_list == undefined ">
    {{loading_msg}}
  </h4>

  <ion-list *ngFor="let l of applicant_list;">
    <ion-item>
      <ion-avatar item-start>
        <img src="{{l.employee_image}}">
      </ion-avatar>
      <h2><b (click)="applyCompOffRequest(l)"
          style="float:right;margin-top:5%;margin-right:2%;color:darkcyan;">Apply</b>
      </h2>
      <h2><b style="color:darkgoldenrod;">{{l.comp_emp_code}}</b></h2>
      <p style="color:darkslategray;"><b>{{l.display_date}}</b></p>
    </ion-item>
  </ion-list>

</ion-content>