page-loan-description {
    .msg{
        color:#2d3b51;
        position: relative;
        vertical-align: middle;
        margin-top: 50%;
        font-weight: bold;
        text-align:center;
      }
}
